@charset "UTF-8";
body {
  background: #f4f6f4;
  font-family: Arimo, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arimo, sans-serif; }

.dashed {
  border: dashed 1px #aaa;
  padding: 1rem; }

#crm-container.crm-public .vt-select-container {
  position: relative;
  border-radius: 1px;
  background-clip: hidden; }
  #crm-container.crm-public .vt-select-container:after {
    content: '\25BE';
    font-size: 0.8rem;
    color: #555;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    padding: 0.4rem 1rem; }

#crm-container.crm-public .vt-select {
  background: white;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1.3rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  #crm-container.crm-public .vt-select option {
    margin-right: 3rem; }

#crm-container.crm-public form#Main {
  box-sizing: border-box; }
  #crm-container.crm-public form#Main * {
    box-sizing: border-box; }
  #crm-container.crm-public form#Main hr {
    background-color: #ddd;
    margin: 0.75rem 0; }

#crm-container.crm-public .vt-container textarea,
#crm-container.crm-public .vt-container input[type="text"] {
  width: 100%;
  padding: 1.3rem;
  background: white;
  border: solid 2px transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  #crm-container.crm-public .vt-container textarea:focus,
  #crm-container.crm-public .vt-container input[type="text"]:focus {
    border-color: #363864; }
  #crm-container.crm-public .vt-container textarea.error,
  #crm-container.crm-public .vt-container input[type="text"].error {
    border-color: red; }

.vt-grid1 {
  padding: 0.75rem; }
  .vt-grid1 .vt-label {
    font-weight: bold; }
  .vt-grid1 .vt-input {
    margin-bottom: 0.75rem; }

@media screen and (min-width: 768px) {
  .vt-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.3333fr 33.3333fr 33.3333fr;
        grid-template-columns: 33.3333fr 33.3333fr 33.3333fr;
    -webkit-column-gap: 26px;
            column-gap: 26px;
    row-gap: 38px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75rem 0; }
    .vt-grid1 .vt-label {
      padding-right: 1rem; }
  .vt-col-1 {
    -ms-grid-column: 1;
        grid-column: 1; }
  .vt-col-2 {
    -ms-grid-column: 2;
        grid-column: 2; }
  .vt-col-2-span-2 {
    -ms-grid-column-span: 2;
    -ms-grid-column: 2;
        grid-column: 2 / span 2; }
  .vt-col-3 {
    -ms-grid-column: 3;
        grid-column: 3; } }

.vt-payment-box__header {
  background: #4E5076; }

.crm-container .vt-payment-box__heading {
  background: none;
  margin: 0;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 5rem;
  position: relative;
  font-weight: bold;
  color: white; }

.vt-payment-box__heading:before {
  content: '£';
  position: absolute;
  margin-left: -4rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 2rem;
  display: block;
  margin-right: 1rem;
  background-color: white;
  color: #4E5076;
  text-align: center;
  line-height: 1; }

.vt-payment-box__payby {
  padding: 0 1rem;
  color: white; }

.vt-payment-box__switch-container {
  margin-left: 1rem;
  padding: 1rem 1rem 1rem 0;
  width: 15rem; }

@media screen and (min-width: 768px) {
  .vt-payment-box__header {
    display: -ms-grid;
    display: grid;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -ms-grid-columns: 1fr 4rem 15rem;
        grid-template-columns: 1fr 4rem 15rem; }
  .crm-container .vt-payment-box__heading {
    -ms-grid-column: 1;
        grid-column: 1; }
  .vt-payment-box__payby {
    -ms-grid-column: 2;
        grid-column: 2;
    padding: 1rem 0; }
  .vt-payment-box__switch-container {
    -ms-grid-column: 3;
        grid-column: 3;
    margin-left: 0; } }

.vt-payment-box__switch-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  background: #363864;
  padding: 6px;
  position: relative; }
  .vt-payment-box__switch-wrapper:before {
    transition: all 0.3s ease;
    content: '';
    top: 6px;
    bottom: 6px;
    background-color: white;
    position: absolute;
    border-radius: 2rem;
    z-index: 1; }
  .vt-payment-box__switch-wrapper.selected-dd:before {
    left: 6px;
    width: 7.5rem; }
  .vt-payment-box__switch-wrapper.selected-c:before {
    left: 9.3rem;
    width: 4.3rem; }

.crm-container .vt-payment-box__dd, .crm-container .vt-payment-box__c {
  color: white;
  position: relative;
  z-index: 2;
  padding: 0.5rem 1rem; }

.crm-container .selected-dd .vt-payment-box__dd {
  color: #363864; }

.crm-container .selected-c .vt-payment-box__c {
  color: #363864; }

.vt-payment-box__dd {
  -webkit-flex: 0 0 9rem;
      -ms-flex: 0 0 9rem;
          flex: 0 0 9rem; }

.vt-payment-box__c {
  -webkit-flex: 0 0 6rem;
      -ms-flex: 0 0 6rem;
          flex: 0 0 6rem; }

.crm-container .credit_card_info-group {
  background: #FAF9F8;
  padding: 2rem;
  margin: 0 0 2rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .crm-container .credit_card_info-group > legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99999px; }

.credit_card_info-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -2rem; }
  .credit_card_info-section .cvv2-icon,
  .credit_card_info-section .credit_card_type-section {
    display: none; }
  .credit_card_info-section .credit_card_number-section,
  .credit_card_info-section .direct-debit-benefits-para,
  .credit_card_info-section .credit_card_exp_date-section,
  .credit_card_info-section .cvv2-section {
    padding: 0 2rem;
    margin-bottom: 2rem; }
  .credit_card_info-section .credit_card_number-section {
    margin-bottom: 1rem;
    -webkit-flex: 0 1 24rem;
        -ms-flex: 0 1 24rem;
            flex: 0 1 24rem;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .credit_card_info-section .direct-debit-benefits-para {
    margin-bottom: 1rem;
    -webkit-flex: 1 0 20rem;
        -ms-flex: 1 0 20rem;
            flex: 1 0 20rem;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .credit_card_info-section .credit_card_exp_date-section {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .credit_card_info-section .cvv2-section {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .credit_card_info-section .vt-card-expiry {
    display: inline-block;
    margin-right: 1rem; }

.crm-container .billing_name_address-group > legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -99999px; }

.vt-amount-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 1rem -0.5rem; }

.vt-amount-buttons__button {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0.5rem;
  margin-bottom: 1rem; }
  .vt-amount-buttons__button button {
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #363864;
    padding: 1rem;
    border: solid 2px transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .vt-amount-buttons__button button.selected {
      border-color: #363864; }

@media screen and (min-width: 768px) {
  .vt-amount-buttons {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .vt-amount-buttons__button {
    -webkit-flex: 1 0 5rem;
        -ms-flex: 1 0 5rem;
            flex: 1 0 5rem; } }

h3.vt-heading {
  margin: 3rem 0 2rem;
  padding: 0;
  font-size: 1.6rem;
  color: #555;
  font-weight: bold;
  background: none; }

.vt-your-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 2rem 0 1rem; }
  .vt-your-info h2 {
    padding: 0;
    margin: 0;
    padding-right: 1rem;
    font-weight: bold;
    color: #363864; }
  .vt-your-info span {
    color: #800; }

.vt-giftaid-inputs {
  margin-bottom: 1rem; }
  .vt-giftaid-inputs input, .vt-giftaid-inputs label {
    display: inline-block; }
  .vt-giftaid-inputs label {
    margin-right: 2rem;
    color: black;
    font-size: 1.125rem; }

.vt-giftaid-declaration {
  border: dashed 1px #aaa;
  padding: 1rem; }

@media screen and (min-width: 768px) {
  .vt-giftaid-layout-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12rem 1fr;
        grid-template-columns: 12rem 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem; }
  .vt-giftaid-inputs {
    column: 1; }
  .vt-giftaid-declaration {
    column: 2; } }

.vt-gdpr .terms-conditions-link {
  display: block;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: underline; }
  .vt-gdpr .terms-conditions-link:link, .vt-gdpr .terms-conditions-link:visited {
    color: #555; }
  .vt-gdpr .terms-conditions-link:hover, .vt-gdpr .terms-conditions-link:active {
    color: black; }

.vt-gdpr label {
  color: #555; }

@media screen and (min-width: 768px) {
  .vt-gdpr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50fr 50fr;
        grid-template-columns: 50fr 50fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 1rem; }
    .vt-gdpr .vt-gdpr__text {
      -ms-grid-column-span: 2;
      -ms-grid-column: 1;
          grid-column: 1 / span 2; } }

button.vt-submit {
  margin: 2rem 0;
  background-color: #42AFA7;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=vitiligotheme.css.map */
