// input[type="text"], #crm-container.crm-public input[type="password"], #crm-container.crm-public input[type="email"], #crm-container.crm-public select

// @todo remove this.
body {
  background:#f4f6f4;
}
#crm-container.crm-public {

  .vt-select-container {

    position: relative;
    border-radius:1px;
    background-clip: hidden;

    &:after {
      content: '\25BE';
      font-size: 0.8rem;
      color: #666;
      position: absolute;
      right:0;
      top:0;
      bottom:0;
      pointer-events:none;
      padding: 0.4rem 1rem;
    }
  }

  .vt-select {
    background: white;
    border-radius: 0;
    border: none;
    padding: 0.5rem 1.3rem;
    width: 100%;
    appearance: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    option {
      margin-right: 3rem;
    }
  }
  form#Main {
    box-sizing: border-box;
    * { box-sizing: border-box;}

    hr {
      background-color: #ddd;
      margin: 0.75rem 0;
    }
  }


  .vt-container {

    textarea,
    input {
      width: 100%;
      // border-radius:2px;
      padding: 1.3rem;
      background: white;
      border:none;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }

    .select2-container .select2-choice {
      border:none;
      background:white;
      filter:none;
      padding: 0;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
    .select2-chosen {
      padding: 0.5rem 1.3rem;
    }
    .select2-arrow {
      padding: 0.5rem 1.3rem;
      background:none;
      filter:none;
      border-left:none;
      width: 56px;
    }
    .select2-search-choice-close {
      display: none; // Can't figure out how to style this.
    }
  }
  .vt-grid1 {
    display: grid;
    grid-template-columns: 33.3333fr 33.3333fr 33.3333fr;
    column-gap: 26px;
    row-gap: 38px;
    align-items: center;
    padding: 0.75rem 0;

    .vt-label {
      padding-right:1rem;
      font-weight: bold;
    }

  }
  .vt-col-1 { grid-column: 1; }
  .vt-col-2 { grid-column: 2; }
  .vt-col-2-span-2 { grid-column: 2 / span 2; }
  .vt-col-3 { grid-column: 3; }
}

// Payment info.
.vt-payment-box {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.vt-payment-box__header {
  display:flex;
  align-items: center;
  background: #66e;
}
.vt-payment-box__gbp {
  flex:0 0 auto;
}
.crm-container .vt-payment-box__heading {
  flex:1 1 auto;
  background:none;
  margin:0;
  font-size: 2rem;
  padding:1rem;
  font-weight: bold;
  color: white;
}
.vt-payment-box__heading:before {
  content: '£';
  border-radius:2rem;
  width:3rem;
  height:3rem;
  padding:0.5rem;
  display:inline-block;
  margin-right:1rem;
  background-color: white;
  color: #66e;
  text-align: center;
  line-height: 1;
}
.vt-payment-box__switch-container {
  flex: 0 0 16rem;
  padding:1rem;
}
.vt-payment-box__payby {
  flex: 0 0 auto;
  padding:1rem;
  color:white;
}
.vt-payment-box__switch-wrapper {
  display: flex;
  border-radius: 2rem;
  background: black;
  padding: 6px;
  position:relative;

  &:before {
    transition: all 0.3s ease;
    content: '';
    top: 6px;
    bottom: 6px;
    background-color:white;
    position:absolute;
    border-radius: 2rem;
    z-index:1;
  }
  &.selected-dd:before { left:6px; width:7.5rem; }
  &.selected-c:before { left:9.3rem; width:4.3rem; }
}
.crm-container {

.vt-payment-box__dd, .vt-payment-box__c {
  color: white;
  position:relative;
  z-index:2;
  padding:0.5rem 1rem;
}
.selected-dd .vt-payment-box__dd { color: black; }
.selected-c  .vt-payment-box__c { color: black; }

}
.vt-payment-box__dd { flex: 0 0 9rem; }
.vt-payment-box__c { flex: 0 0 6rem; }

.vt-amount-buttons {
  display:flex;
  margin:1rem -0.5rem;
}
.vt-amount-buttons__button {
  flex: 1 1 5em;
  padding:0 0.5rem;
  button {
    height:100%;
    width:100%;
    background:white;
    text-align: center;
    border-radius:0;
    font-size: 2rem;
    font-weight: bold;
    color: #005;
    padding:1rem;
    border: solid 2px transparent;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    &.selected {
      border-color: #005;
    }
  }
}
h3.vt-heading {
  margin: 3rem 0 2rem;
  padding:0;
  font-size: 1.6rem;
  color: #555;
  font-weight: bold;
  background: none;
}
.vt-your-info {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  margin:2rem 0 1rem;

  h2 {
    padding:0;
    margin:0;
    padding-right: 1rem;
    font-weight: bold;
    color: #005;
  }
  span {
    color: #800;
  }
}


// We have to overwrite global styles, since this element is put directly under body.
.select2-drop {
  border:none;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.select2-drop-active {
  border:none;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
